/* CSS Document */

@import 'reset.css'; /* スタイルを初期化 */

body {
    background-color: #eee;
}

#wrap {
    background: #fff;
    border-radius: 20px;
    margin: auto;
    padding: 0 50px;
    width: calc(100% - 20%);
}

#header {
}
#header h1 {
    text-align: center;
}

#header h1 img {
    max-width: 100%;
    height: auto;
}

#nav {
    border-bottom: solid 1px #ccc;
}
#nav ul {
    text-align: right;
}
#nav ul li {
    display: inline;
}

#sidebar {
    width: 200px;
    float: left;
}

#article {
    width: calc(100% - 200px);
    float: left;
}

#article h2 {
    font-weight: bold;
    border-bottom: solid 2px #bbb;
    border-left: solid 5px #bbb;
    padding-left:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

#article h3 {
    font-weight:bold;
    margin: 15px 5px 5px 0;
    border-bottom: 1px dashed #bbb;
}

#article p {
    line-height: 30px;
}

#article p img {
    max-width: 100%;
    height: auto;
}

#article table {
    border-collapse: collapse;
    border:1px solid #333;
}

#article table th {
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #eeeeee;
}
#article table td {
    border: 1px solid #ccc;
    padding:4px;
}


#footer {
    clear: both;
    border-top: solid 1px #ccc;
}
#footer p {
    padding: 10px;
    text-align: center;
}
